#admin {
  width: 70vw;
}

#addBox {
  height: 20vw;
  border: 1px solid #000;
}

#addBtn {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10vw;
  height: 10vw;
  border-radius: 2vw;
  background-color: #fff;
  outline: none;
  cursor: pointer;
}

#addBtn:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
}

#addFileIcon {
  width: 3vw;
}

#adminTabBox {
  margin-top: 2vw;
  height: 3vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.adminTab {
  text-align: center;
  height: 3vw;
  border-top: 2px solid #000;
  font-size: 2vw;
  grid-row: 1;
  cursor: pointer;
}

.adminTab:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
