#videoList {
  position: relative;
  width: 70vw;
  left: 50%;
  transform: translate(-50%);
  margin-top: 5vw;
}

.video {
  position: relative;
  height: 20vw;
  border: 2px solid #000;
}
#tabList {
  font-size: 1.5vw;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 10vw;
  transform: translate(-50%);
  width: 76.5vw;
  height: 4vw;
  border-bottom: 2px solid #000;
  background-color: #fff;
  z-index: 1;
}
.tab {
  height: 2.5vw;
  width: 15vw;
  float: left;
  padding-top: 1.5vw;
  /* border: 2px solid #000; */
}