@font-face {
  font-family: 'MapoFlowerIsland';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff');
}

@font-face {
  font-family: 'MapoGoldenPier';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoGoldenPierA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


#nav {
  width: 80vw;
  height: 8vw;
  border-bottom: 1px solid #000;
  position: fixed;
  padding: 1.5vw 0 1vw 4vw;
  top: 0%;
  left: 50%;
  transform: translate(-50%);
  background-color: #fff;
  z-index: 2;
}

.home {
  font-family: 'MapoFlowerIsland';
  text-decoration: none;
  color: #000;
  font-size: 2.5vw; 
  font-weight: 400;
}

.button {
  font-family: 'MapoGoldenPier';
  text-decoration: none;
  color: #000;
  font-size: 1.5vw; 
  margin-right: 5vw;
  float: right;
}