#nav {
  width: 100vw;
  height: 45px;
  padding: 20px 0 15px 0px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  background-color: #fff;
  z-index: 2;
}

#home {
  font-family: 'MapoFlowerIsland';
  text-decoration: none;
  color: #000;
  font-size: 30px; 
  font-weight: 400;
  cursor: pointer;

  margin-left: 12vw;

  transition-property: all;
  transition-duration: 0.3s;
}

.hiddenHome {
  opacity: 0;
  transition-property: all;
  transition-duration: 0.3s;
}

#NavButtonDiv {
  float: right;
  margin-right: 8vw;
  margin-top: 10px;
}

.button {
  font-family: 'MapoGoldenPier';
  text-decoration: none;
  color: #000;
  font-size: 20px; 
  margin-left: 40px;
  float: right;
  cursor: pointer;
}

.tabList {
  font-size: 20px;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 80px;
  transform: translate(-50%);

  width: 70vw;
  max-width: 1000px;
  height: 50px;

  background-color: #fff;
  display: grid;
  z-index: 1;
  box-shadow: 0 0 15px 0 rgb(0,0,0, 0.2);

  transition-property: all;
  transition-duration: 0.5s;
}
#videoTabList {
  grid-template-columns: auto auto auto auto auto;
}
#comTabList {
  grid-template-columns: auto;
}

.tab {
  padding-top: 14px;
  cursor: pointer;
}
.tab:hover {
  border-bottom: 2px solid #000;
}
.selectedTab {
  background-color: rgb(90, 90, 90);
  color: #fff;
}

#menuBtn {
  display: none;
}

#drawerMenu {
  display: none;
}

.hidden {
  display: none;
  backdrop-filter: blur(0px);
  transition-property: all;
  transition-duration: 0.3s;
}

.hiddenDrawer {
  margin-top: -30vw;
  transition-property: all;
  transition-duration: 2s;
}



