#nav {
  width: 100vw;
  height: 45px;
  padding: 20px 0 15px 0px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 3;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  background-color: rgb(255, 255, 255);
}

#home {
  font-family: 'MapoFlowerIsland';
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  font-size: 30px; 
  font-weight: 400;
  cursor: pointer;
  margin-left: 12vw;

  transition-property: all;
  transition-duration: 0.3s;
}

/* .hiddenNav {
  
  transition: all 0.3s;
} */

.hiddenHome {
  opacity: 0;
  transition-property: all;
  transition-duration: 0.3s;
}

#NavButtonDiv {
  float: right;
  margin-right: 8vw;
  margin-top: 10px;
}

.button {
  font-family: 'MapoGoldenPier';
  text-decoration: none;
  color: #000;
  font-size: 20px; 
  margin-left: 40px;
  float: right;
  cursor: pointer;
}

#tabListOuter {
  overflow: hidden;
  height: auto;
  position: fixed;
  top: 80px;
  box-shadow: 0 0 15px 0 rgb(0,0,0, 0.2);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 50%);
  
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  
  font-family: 'NanumBarunGothic';
  text-align: center;
  font-size: 20px;
  
  width: 1000px;
  height: 50px;
  padding-bottom: 10px;
  z-index: 2;

  user-select: none;
  left: 50%;
  transform: translate(-50.5%);

  transition-property: all;
  transition-duration: 1s;
}

.tabList {
  transition-property: all;
  transition-duration: 1s;
}

#videoTabList {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  height: 100%;
}
#comTabList {
  display: grid;
  grid-template-columns: auto;
  height: 100%;
}

.tab {
  z-index: 2;
  padding-top: 14px;
  cursor: pointer;
}
.tab:hover {
  background-color: rgba(0, 0, 0, 0.156);
  border-radius: 0 0 20px 20px;
}
.selectedTab {
  position: relative;
  left: 50%;
  transform: translate(-50%);

  max-width: 250px;
  border-radius: 0 0 20px 20px;
  color: #fff;
}

#menuBtn {
  display: none;
}

#drawerMenu {
  display: none;
}

.hidden {
  display: none;
  -webkit-backdrop-filter: blur(0px);
  backdrop-filter: blur(0px);
  transition-property: all;
  transition-duration: 0.3s;
}

.hiddenDrawer {
  margin-top: -30vw;
  transition-property: all;
  transition-duration: 1s;
}



