a {
  all: unset;
  color: rgb(100, 100, 100);
}
a:hover {
  color: #000;
}

/*  picture  */
#pictureListDiv {
  display: grid;
  grid-template-columns: 260px 260px 260px;
  grid-gap: 10px;
  height: auto;
  margin-bottom: 50px;
}
.pictureDiv {
  position: relative;
  display: inline;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.1);
}
.imgDiv {
  height: 150px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}
.pictureImg {
  width: 100%;
}
.pictureTitle {
  float: left;
  width: 100%;

  /* text overflow */
  text-overflow: ellipsis;
  overflow: hidden;
  white-space:nowrap;
  word-wrap:normal;
}
.pictureTitle a {
  all: unset;
  margin: 20px;

  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  color: rgb(0, 0, 0, 0.6);
}
.pictureTitle a:hover {
  color: rgb(0, 0, 0, 1);
}
.pictureTitle p {
  all: unset;
  display: block;
  margin: 20px;
  font-size: 15px;
}




#contentListPage {
  width: 800px;
  margin: 130px 80px 0 80px;
  grid-column: 3;
  grid-row: 2;
  font-family: NanumBarunGothic;
}


/*  video  */
.videoDiv {
  position: relative;
  height: 60px;
  padding: 15px 30px 0 30px;
  border-top: 1px solid rgb(210, 210, 210);
}
.videoTitle {
  float: left;
  width: 520px;

  /* text overflow */
  text-overflow: ellipsis;
  overflow: hidden;
  white-space:nowrap;
  word-wrap:normal;
}
.videoTitle a {
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
}
.videoTitle p {
  all: unset;
  display: block;
  margin-top: 5px;
  font-size: 15px;
}

.bibleVerse > div:nth-child(1) {
  cursor: pointer;

}
.bibleVerse {
  position: absolute;
  bottom: 0;
  right: 20px;

  width: 200px;
  height: 50px;
  text-align: right;

  font-size: 25px;
  font-weight: 700;
  color: rgba(100, 100, 100, 0.224);

  /* text overflow */
  /* text-overflow: ellipsis;
  overflow: hidden;
  white-space:nowrap;
  word-wrap:normal; */

  transition-property: color;
  transition-duration: 0.5s;
}

.bibleVerse:hover {
  color: #000;

  transition-property: color;
  transition-duration: 0.5s;
}



.clickedVerse {
  color: #000;

  transition-property: color;
  transition-duration: 0.5s;
}

.closeVerse {
  position: absolute;
  right: -50px;
  top: 25px;
  padding: 4px 10px;
  z-index: 3;
}

.closeVerse .label {
  float: right;
}


.bibleViewer {
  position: relative;
  top: 15px;
  right: -230px;
  width: 500px;
  height: 230px;
  z-index: 1;
  
  background-color: #fff;
  border: 1px solid #000;
  overflow-y: scroll;
  padding: 0 20px 0 20px;

  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.bibleViewer p {
  width: 500px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: initial;

  font-size: 17px;
  line-height: 25px;
  color: #000;
  font-family: MapoGoldenPier;
}

.viewerBackground {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.videoButton {
  all: unset;
  position: absolute;
  bottom: 2vw;
  right: 2vw;
  padding: 1vw ;
  cursor: pointer;
  border: 2px solid #000;
  background-color: #000;
  color: #fff;
  font-size: 1.5vw;
}

.videoButton:hover {
  background-color: #fff;
  color: #000;
}

#pageOptionDiv {
  position: relative;
  width: 800px;
  height: 80px;
  margin-bottom: 100px;
  border-top: 2px solid rgb(0, 0, 0, 0.3);
}

#dataNumberDiv {
  position: relative;
  overflow: hidden;
  height: auto;
}
#dataNumberDiv > #selectUnit {
  position: absolute;
  left: 62px;
  top: 30px;
  font-size: 15px;
}
#dataNumber {
  all: unset;
  /* border: none; */
  outline: none;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid rgb(0, 0, 0, 0.3);
  border-radius: 8px;

  width: 130px;
  height: 25px;
  margin: 20px 10px 0 30px;
  padding: 10px 0 0 10px;
  font-size: 15px;
}

#dataArrowIcon {
  position: absolute;
  top: 35px;
  left: 150px;
  border: 6px solid transparent;
  border-color: #000 transparent transparent transparent;
}

#pageSelectDiv {
  display: inline-block;
  position: relative;
  float: right;
  margin: 20px 0 0 0;
}
.pageButton {
  float: left;
  width: 30px;
  margin-right: 10px;
  background-color: #fff;
  border-radius: 20px;
}
.pageArrowButton {
  float: left;
  margin-right: 10px;
  background-color: #fff;
  border-radius: 20px;
  padding: 12px;
}
.selectedPage {
  background-color: rgb(117, 117, 117);
  color: #fff;
}
#endLine {
  position: relative;
  margin-left: -100px;
  width: 1000px;
  border-bottom: 10px solid rgb(0, 0, 0, 0.05);
}

#noDataDiv {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: fit-content;
  height: 200px;
  padding: 100px;
}

#noDataDiv img {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 100px;
  margin-bottom: 30px;
}

