a {
  all: unset;
  color: rgb(100, 100, 100);
}
a:hover {
  color: #000;
}
#videoList {
  width: 800px;
  margin: 130px 80px 0 80px;
  grid-column: 3;
  grid-row: 2;
}
.video {
  position: relative;
  height: 60px;
  padding: 15px 30px 0 30px;
  border-top: 1px solid rgb(210, 210, 210);
}
.videoTitle {
  float: left;
  width: 520px;

  /* text overflow */
  text-overflow: ellipsis;
  overflow: hidden;
  white-space:nowrap;
  word-wrap:normal;
}
.videoTitle a {
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
}
.videoTitle p {
  all: unset;
  display: block;
  margin-top: 5px;
  font-size: 15px;
}

.bibleVerse {
  width: 200px;
  text-align: right;
  float: right;

  font-size: 30px;
  font-weight: 700;
  color: rgba(100, 100, 100, 0.224);

  cursor: help;

  /* text overflow */
  text-overflow: ellipsis;
  overflow: hidden;
  white-space:nowrap;
  word-wrap:normal;
}

.bibleVerse:hover {
  color: #000;
}

.bibleViewer {
  position: absolute;
}

.videoButton {
  all: unset;
  position: absolute;
  bottom: 2vw;
  right: 2vw;
  padding: 1vw ;
  cursor: pointer;
  border: 2px solid #000;
  background-color: #000;
  color: #fff;
  font-size: 1.5vw;
}

.videoButton:hover {
  background-color: #fff;
  color: #000;
}



