.loadingEffect {
  background: linear-gradient(-60deg, #00000050, #00000020, #00000050, #00000020, #00000050);
  background-size: 600% 100%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.videoDiv-loading {
  position: relative;
  height: 60px;
  padding: 15px 30px 0 30px;
  border-top: 1px solid rgb(210, 210, 210);
}

.videoInfo-loading {
  float: left;
  width: 520px;
}

.videoTitle-loading {
  height: 20px;
  width: 300px;
}

.videoDate-loading {
  height: 15px;
  width: 100px;
  margin-top: 5px;
}

.bibleVerse-loading {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 20px;

  width: 150px;
  height: 30px;
}

@media only screen and (max-width : 640px) {
  .videoDiv-loading {
    height: 15vw;
    padding: 5vw 2vw 5vw 2vw;
    border-top: 0.3vw solid rgb(210, 210, 210);
  }

  .videoTitle-loading {
    width: 60vw;
    height: 7vw;
  }
  
  .videoDate-loading {
    height: 4vw;
    width: 20vw;
    margin: 5vw 0vw;
  }

  .bibleVerse-loading {
    position: absolute;
    top: unset;
    transform: unset;
    bottom: 4vw;
    right: 2vw;
    height: 7vw;
    width: 30vw;
  }

}


/* picture loading */
#photo-loading {
  display: grid;
  grid-template-columns: 260px 260px 260px;
  grid-gap: 10px;
  height: auto;
  margin-bottom: 50px;
}

.photoDiv-loading {
  height: 150px;
  width: 100%;
}

.photoInfo-loading {
  float: left;
  width: 100%;
}

.photoTitle-loading {
  margin: 20px;
  height: 20px;
  width: 200px;
}

.photoDate-loading {
  margin: 20px;
  height: 15px;
  width: 100px;
}

@media only screen and (max-width : 640px) {
  .photoDiv-loading {
    height: 27vw;
  }
}