#filterDiv {
  position: relative;
  height: 50px;
}


/* init filter */
.initFilter {
  position: absolute;
  left: 810px;
  top: 0;

  width: 60px;
  color: #fff;
  background-color: rgb(168, 168, 168);
  border: none;
}