#searchDiv {
  position: relative;
  float: right;
  display: block;
  height: auto;
  width: 200px;
  padding: 0 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  overflow: hidden;
  border-radius: 7px;
}


.keywordBtn {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translate(0, -50%);
  
  border: none;
  margin-left: 10px;
}
.keywordBtn span {
  all: unset;
}
.keywordBtn p {
  all: unset;
  float: right;
}

#inputKeyword {
  height: 32px;
  width: 140px;
  margin: 0 0 0 10px;
  font-size: 15px;
  border: none;

  transition-property: all;
  transition-duration: 0.5s;
}

#searchIcon {
  all: unset;
  position: relative;
  float: left;
  width: 12px;
  margin-top: 5px;
}

#keywordDiv {
  position: absolute;
  left: 0;

  text-align: left;
  width: 400px;
}

.keyword {
  width: 290px;
  border-radius: 10px;
  border: 1px solid rgba(60, 130, 255);
  padding: 8px 0 8px 20px;
  float: left;
  user-select: none;
  margin: 0 10px 10px 30px;

  /* text overflow */
  text-overflow: ellipsis;
  overflow: hidden;
  white-space:nowrap;
  word-wrap:normal;
}

.keyword p {
  all: unset;
}

.deleteKeyword {
  all: unset;
  outline: none;
  position: relative;
  background-color: transparent;
  padding: 8px;
  background-color: rgb(60, 130, 255);
  border: 1px solid rgb(60, 130, 255);
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  opacity: 0.5;
}
.deleteKeyword p {
  all: unset;
}

.deleteKeyword:hover {
  opacity: 1;
}

.errorButton {
  background-color: #f00;
}
.errorInput {
  border-color: #f00;
}