a {
  all: unset;
  color: rgb(100, 100, 100);
}
a:hover {
  color: #000;
}
#videoList {
  width: 800px;
  margin-top: 150px;
  grid-column: 3;
  grid-row: 2;
}
.video {
  position: relative;
  height: 60px;
  padding: 15px 2vw 0 2vw;
  border-top: 1px solid rgb(210, 210, 210);
}
.videoTitle {
  float: left;
}
.videoTitle a {
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
}
.videoTitle p {
  all: unset;
  display: block;
  margin-top: 5px;
  font-size: 15px;
}
.videoContent {
  width: 20vw;
  text-align: right;
  float: right;
}
.videoButton {
  all: unset;
  position: absolute;
  bottom: 2vw;
  right: 2vw;
  padding: 1vw ;
  cursor: pointer;
  border: 2px solid #000;
  background-color: #000;
  color: #fff;
  font-size: 1.5vw;
}

.videoButton:hover {
  background-color: #fff;
  color: #000;
}



