#admin {
  display: grid;
  grid-template-rows: auto auto auto;
  height: 700px;
}

#addBox {
  height: 60px;
  z-index: 1;
}
#addBox h2 {
  all: unset;
  font-size: 40px;
  display: inline;
  font-weight: 700;
}

#addBox button {
  all: unset;
  float: right;
  cursor: pointer;
  border: 1px solid #000;
  padding: 10px 30px 10px 30px;
  font-size: 20px;
}

#addBox button:hover {
  color: #fff;
  background-color: #000;
}

#live {
  display: grid;
  grid-template-columns: 150px 300px auto;
  grid-gap: 40px;

  position: relative;
  padding: 20px;

  z-index: 3;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.1);
}

#onAirIcon .buttonDefault {
  border-radius: 30px;
}

#onAirIcon .buttonDefault .label {
  font-weight: 700;
  font-size: 20px;
}

#liveInfo span {
  all: unset;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 300px;
  font-size: 20px;

  /* text overflow */
  text-overflow: ellipsis;
  overflow: hidden;
  white-space:nowrap;
  word-wrap:normal;
}

#liveInput {
  display: grid;
  grid-template-columns: auto 60px;
  grid-gap: 10px;
}

#liveUrl {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-size: 16px;
}

.liveInputBtn {
  width: 30px;
}


#data {
  position: relative;
  display: inline-block;
  width: 800px;
  height: 500px;
  padding: 30px;
  z-index: 1;

  background-color: #fff;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.1);
}

#addBtn {
  box-sizing: border-box;
  position: relative;
  left: 50%;
  transform: translate(-50%);

  width: 700px;
  height: 60px;
  border-radius: 30px;
  margin: 20px 0 30px 0;
  background-color: #fff;
  box-shadow: 0vw 8px 20px 0 rgba(63, 63, 63, 0.2);

  outline: none;
  border: none;
  cursor: pointer;
}

#addBtn:hover {
  box-shadow: 0vw 8px 30px 0 rgba(63, 63, 63, 0.2);
}

#addFileIcon {
  width: 30px;
}

#tabContainer {
  top: 0;
  z-index: 1;
  height: 80px;
  font-size: 20px;
  margin-top: 10px;
  background-color: #fff;
}
#adminTabBox {
  margin-top: 5px;
  height: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.adminTab {
  text-align: center;
  height: 30px;
  border-bottom: 1px solid #000;
  grid-row: 1;
  cursor: pointer;
}
.adminTab:hover {
  border-bottom: 2px solid #000;
}
#subTabBox {
  height: 30px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.subTab {
  text-align: center;
  height: 30px;
  cursor: pointer;
  padding-top: 15px;
}
.subTab:hover {
  border-bottom: 2px solid #000;
}
.selected {
  border-bottom: 2px solid #000;
}


/* data list */
#dataList {
  display: inline-block;
  height: 300px;
  overflow: scroll;
}
.dataBox {
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  box-sizing: border-box;
  height: 70px;
  width: 100%;
  border-bottom: 0.5px solid rgb(190, 190, 190);
  padding: 15px 40px 15px 40px;
  float: left;
}
.dataBox:hover {
  background-color: rgba(202, 202, 202, 0.1);
}
.textBox {
  display: grid;
  grid-template-columns: 450px 170px auto;
  line-height: 0vw;
  font-size: 20px;
}
.textBox > p {
  all: unset;
  font-size: 15px;
  font-weight: lighter;
  line-height: 0vw;
  margin-top: 22px;
}

.title {
  /* text overflow */
  text-overflow: ellipsis;
  overflow: hidden;
  white-space:nowrap;
  word-wrap:normal;
}
.title > h3 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}
.verse {
  /* text overflow */
  text-overflow: ellipsis;
  overflow: hidden;
  white-space:nowrap;
  word-wrap:normal;
}
.verse > h5 {
  margin-top: 22px;
}

.buttonBox{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 5px;
  background-color: white;
  box-shadow: 0vw 10px 15px 0 rgba(126, 126, 126, 0.2);
}
.dataButton {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 5px;
  
  background-color: transparent;
  padding-top: 5px;
  float: right;
  cursor: pointer;
}
.dataButton:hover {
  background-color: #fff;
  border: 1px solid #000;
}
.dataButton:active {
  background-color: rgba(0, 0, 0, 0.1);
  outline: none;
}
.buttonIcon {
  width: 25px;
}

