

#edit {
  display: grid;
  grid-template-rows: 80px 50px 20px auto 20px 60px;
  grid-gap: 10px;
}  

#toolbar {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translate(-50%);
  width: 600px;
  text-align: center;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 55px 65px 100px repeat(3, auto);
}

#toolbarDiv {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 50px;
  background-color: #fff;
  box-shadow: 0 2px 7px 0 rgb(0,0,0,0.2);
}

#selectCategory {
  margin-top: 20px;
  width: 100px;
  height: 50px;
  outline: none;
  font-size: 20px;
  border: none;
}

#inputTitle {
  outline: none;
  width: 800px;
  height: 40px;
  font-size: 30px;
  border: none;
}

#inputTitle::placeholder {
  font-size: 15px;
}

#editFrame {
  font-size: 20px;
  width: 800px;
  min-height: 300px;
  outline: none;
  border-top: none;
}

#bottombar {
  position: fixed;
  width: 100%;
  height: 60px;
  bottom: 0%;
  left: 0%;
  z-index: 2;
  background-color: #fff;
  box-shadow: 2px 0 10px 0 rgb(0,0,0,0.1);
}

#bottombar > button {
  outline: none;
  border: none;
  float: right;
  width: 150px;
  height: 40px;
  margin: 10px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
}
#bottombar > button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: #000;
}
/* #bottombar > button:active {
  outline: 2px solid #000;
} */
#saveBtn {
  background-color: #000;
  color: #fff;
}


/* toolbar elements */
.tabGroup {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 8px;
  padding: 0 10px 0 10px;
  border-right: 1px solid rgb(216, 216, 216);
}

.editorIcon {
  padding-top: 5px;
}

.activeIcon {
  box-shadow:  1px 1px 4px 0 #999; 
  border-radius: 7px;
}

.editorIcon:hover {
  box-shadow:  1px 1px 4px 0 rgb(146, 146, 146); 
  border-radius: 7px;
  transition: background-color 0.5s;
}


input[type="file"] {
  display: none;
}
input[type="button"] {
  display: none;
}

.custom-file-upload:hover {
  border: 1px solid #000;
}

/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  font-size: 16px;
  border: none;
  margin: 5px 0 0 0 ;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  min-width: 20px;
  position: relative;
  display: inline-block;
  font-size: 12px;
  text-align: left;
  padding-right: 15px;
  margin-left: 10px;
}


.dropdown::after {
  content: "";
  position: absolute;
  bottom: 20%;
  right: 5%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.dropdown .curSelected{
  width: 100px;
  margin: 5px;
}

.dropdown-content label{
  cursor: pointer;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 70px;
  margin-left: 50%;
  transform: translate(-50%);
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.1);
  z-index: 1;
  font-size: 13px;
}

/* Links inside the dropdown */
.dropdown-content p, h1, h3, h6, blockquote {
  margin: 0%;
}

.dropdown-content blockquote {
  margin: 0px 10px 0px 0;
}

.dropdown-content a {
  color: black;
  padding: 7px 7px;
  text-decoration: none;
  display: block;
}

.dropdown-content label {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 5px;
  text-align: center;
}

.iconImg {
  width: 13px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: rgb(235, 235, 235);}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

.curSelected {
  width: 45px;
}

#fontOption button {
  all: unset;
  width: 100%;
  display: block;
  cursor: pointer;
  padding: 5px 0 5px 5px;
  font-size: 12px;
}

#fontOption button:hover {
  background-color: rgb(235, 235, 235);
}

#paragraphOption button {
  all: unset;
  width: 100%;
  display: block;
  cursor: pointer;
  padding: 5px 0 5px 5px;
  font-size: 12px;
}

#paragraphOption button:hover {
  background-color: rgb(235, 235, 235);
}


blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}


/* Paragraph style */
.selectTab{
  border: none;
  outline: none;
}





/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  min-width: 50px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 10px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  margin-left: -25px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.5s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}




/* resize ui */
.image {
  cursor: pointer;
}
.selectedImg {
  /* border: 1px solid rgb(211, 211, 211); */
  box-shadow: 3px 3px 10px 0 rgb(0,0,0, 0.3); 
}

.resizeHandle {
  visibility: hidden;
  position: absolute;
  background-color: #fff;
  padding: 7px 7px 2px 7px;
  border-radius: 17px;
  box-shadow: 3px 3px 10px 0 rgb(0,0,0, 0.5); 
}

#handle1 { cursor: se-resize; }

#imageTool {
  position: absolute;
  padding: 5px 10px 5px 10px;
  box-shadow: 0 5px 10px rgb(0,0,0, 0.2); 
  background-color: #fff;
  visibility: hidden;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: auto auto;
}

#imageTool::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}

#resizeInput {
  all: unset;
  width: 30px;
  height: 20px;
  border: 1px solid rgb(134, 134, 134);
  text-align: right;
  padding-right: 5px;
}

.ToolIcon {
  width: 20px;
  margin: 0px;
}

.loading {
  width: 20vw;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.loadingIcon {
  position: absolute;
  width: 50px;
}

#drop-area {
  box-sizing: border-box;
  visibility: hidden;
  position: fixed;
  top: 0%;
  left: 0%;
  border: 1vw dashed #fff;
  background-color: rgb(0,0,0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 4;
  font-size: 3vw;
  color: #fff;
  text-align: center;
  padding-top: 15vw;
}
