

#edit {
  display: grid;
  grid-template-rows: 100px 50px 20px auto 20px 60px;
  grid-gap: 10px;
}  

#toolbar {
  position: fixed;
  top: 10px;
  width: 800px;
  text-align: center;
}

#toolbarDiv {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 60px;
  background-color: #fff;
  border-bottom: 1px solid rgb(0,0,0,0.5);
}

#selectCategory {
  margin-top: 20px;
  width: 100px;
  height: 50px;
  outline: none;
  font-size: 20px;
  border: none;
}

#inputTitle {
  outline: none;
  width: 800px;
  height: 40px;
  font-size: 30px;
  border: none;

}

#inputTitle::placeholder {
  font-size: 15px;
}

#editFrame {
  width: 800px;
  min-height: 300px;
  outline: none;
  border-top: none;
}

#bottombar {
  position: fixed;
  width: 100%;
  height: 60px;
  bottom: 0%;
  left: 0%;
  z-index: 2;
  background-color: #fff;
  border-top: 1px solid rgb(0,0,0,0.5);
}

#bottombar > button {
  outline: none;
  border: 2px solid #000;
  float: right;
  width: 150px;
  height: 40px;
  margin: 10px;
  cursor: pointer;
}
#bottombar > button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: #000;
}
#bottombar > button:active {
  outline: 2px solid #000;
}
#saveBtn {
  background-color: #000;
  color: #fff;
}


/* toolbar elements */

.editorIcon {
  padding: 5px;
  margin: 5px 0 0 35px;
}

.editorIconActive {
  padding: 5px;
  margin: 5px 0 0 35px;
  background-color: rgb(0,0,0, 0.2);
}

.editorIcon:hover {
  background-color: rgb(0,0,0, 0.2);
  transition: background-color 0.5s;
}

.editorIcon img {
  width: 18px;
}

/* input[type="file"] {
  visibility: hidden;
} */
input[type="button"] {
  display: none;
}

.custom-file-upload:hover {
  border: 1px solid #000;
}

/* Dropdown Button */
.dropbtn {
  color: white;
  background-color: transparent;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content label{
  cursor: pointer;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
/* .dropdown:hover .dropbtn {background-color: #b4b4b4;} */


/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  min-width: 80px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  margin-left: -40px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.5s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}




/* resize ui */
.image {
  cursor: pointer;
}
.selectedImg {
  border: 1px solid rgb(211, 211, 211);
}

#imageTool {
  position: absolute;
  padding: 5px 10px 5px 10px;
  box-shadow: 0 5px 10px rgb(0,0,0, 0.2);
  background-color: #fff;
  visibility: hidden;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: auto auto;
}

#imageTool::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}

#resizeInput {
  all: unset;
  width: 30px;
  height: 20px;
  border: 1px solid rgb(134, 134, 134);
  text-align: right;
  padding-right: 5px;
}

.ToolIcon {
  width: 20px;
  margin: 0px;
}

.loading {
  width: 20vw;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.loadingIcon {
  position: absolute;
  width: 50px;
}

#file-upload {
  all: unset;
  visibility: hidden;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0,0,0, 0.2);
}

#drop-area {
  box-sizing: border-box;
  visibility: hidden;
  position: fixed;
  top: 0%;
  left: 0%;
  border: 1vw dashed #fff;
  background-color: rgb(0,0,0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 4;
  font-size: 3vw;
  color: #fff;
  text-align: center;
  padding-top: 15vw;
}
