@media only screen and (max-width : 640px) {
  #video {
    /* border: 1px solid #000; */
    width: 70vw;
  }
  #contentBody {
    border-top: 1px solid #000;
    padding-top: 3vw;
    font-size: 3vw;
  }

  #contentBody iframe {
    width: 70vw !important;
    height: 50vw;
  }
}