@media only screen and (max-width : 640px) {
  #searchDiv {
    width: 57vw;
    border-radius: 2vw;
    padding: 1.5vw 1vw;
    border: 0.3vw solid rgba(0, 0, 0, 0.3);
    outline: none;
    float: left;
  }

  #keywordDiv {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    position: relative;
    left: 0;
    /* margin-right: -20px; */
    margin-top: 1vw;
  }

  .keyword {
    float: left;

    width: 60vw;
    border-radius: 2vw;
    border-width: 0.3vw;
    
    padding: 1.5vw 0 1.5vw 4vw;
    margin: 0;
  }
  .keyword p {
    float: left;
    font-size: 3vw;
  }
  .deleteKeyword {
    position: absolute;
    right: 0;
    padding: 1.5vw 9vw;
    border-radius: 2vw;
  }
  .deleteKeyword p {
    all: unset;
    float: right;
    font-size: 3vw;
  }

  /* keyword input */
  #inputKeyword {
    float: left;
    margin: 0vw 1vw;
    height: 3vw;
    width: 30vw;
    font-size: 3vw;
    opacity: 100;
    border-width: 0.2vw;
  }

  /* keyword Button */
  .keywordBtn {
    float: left;
    border-radius: 2vw;
    border-width: 0.3vw;
    padding: 1vw;
    margin-left: 1vw;
  }
  .keywordBtn p {
    font-size: 3vw;
  }
  #searchIcon {
    margin: 0 1vw;
    width: 2.5vw;
  }

  
}