@media only screen and (max-width : 640px) {
  #nav {
    height: 9vw;
    position: fixed;
    top: 0;

    z-index: 4;
    background-color: #fff;
    padding: 4vw 0 3vw 0px;

    transition-property: all;
    transition-duration: 1s;
  }

  #home {
    position: fixed;
    left: 50%;
    transform: translate(-50%);

    font-family: 'MapoFlowerIsland';
    font-weight: 400;
    color: #000;
    font-size: 7vw; 

    cursor: pointer;
    margin-left: 0;
  }

  .button {
    display: none;
  }


  .tabList {
    font-family: 'NanumBarunGothic';
    font-size: 3.5vw;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 16vw;
    transform: translate(-50%);
    width: 100vw;
    height: 8vw;
    background-color: #fff;
    display: grid;
    z-index: 3;
    box-shadow: 0 0 1vw 0 rgb(0,0,0, 0.2);
  }
  .tab {
    padding-top: 2vw;
    cursor: pointer;
  }

  #drawerMenuBtn {
    padding: 0;
    margin: 0;

    position: fixed;
    right: 5vw;
    top: 3vw;
    z-index: 5;

    padding: 2vw 2vw 1vw 2vw;
    border-radius: 5vw;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #fff;
  }
  
  .menuBtnIcon {
    position: relative;
    margin: 0;
    padding: 0;
    height: 1vw;
    width: 5vw;
    margin-bottom: 1vw;
    border-radius: 0.5vw;
    background-color: rgb(105, 105, 105);

    transition-property: all;
    transition-duration: 0.2s;
  }

  .icon_top {
    transform: translateY(2vw);

    transition-property: all;
    transition-duration: 0.2s;
  }
  .icon_mid {
    opacity: 0;
    transition-property: all;
    transition-duration: 0s;
  }
  .icon_bot {
    transform: translateY(-2vw);

    transition-property: all;
    transition-duration: 0.2s;
  }
  .closedIcon_top {
    transform: translateY(2vw) rotate(45deg);

    transition-property: all;
    transition-duration: 0.2s;
  }

  .closedIcon_bot {
    transform: translateY(-2vw) rotate(-45deg);

    transition-property: all;
    transition-duration: 0.2s;
  }
  
  #drawerMenu {
    display: block;
    position: fixed;
    right: 0%;
    top: 0vw;
    z-index: 4;
  
    width: 60vw;
    height: 80vw;
  
    background-color: #fff;
    box-shadow: -3vw 3vw 5vw 0 rgb(0,0,0, 0.3);

    padding: 40vw 5vw;
    display: grid;
    grid-template-rows: 10vw 10vw 10vw 10vw;
    grid-gap: 20vw;

    text-align: center;
    font-size: 9vw;

    transition-property: all;
    transition-duration: 1s;
  }
  .drawerMenuOpen {
    margin: 0 -80vw 0 0;
  }

  #drawerMenu h4 {
    all: unset;
    font-size: 6vw;
  }
  .menuBtn {
    font-family: 'MapoGoldenPier';
    transition: right 0.3s;
  }

  

}