@media only screen and (max-width : 640px) {
  #greeting {
    margin: 18vw 0;
    
    padding-top: 12vw;
    height: 48vw;
    width: 60vw;
    border-radius: 30vw;
  }

  #greeting h1 {
    font-size: 5vw;
  }
  #greeting h1:nth-child(1) {
    font-size: 8vw;
  }
  #greeting p {
    font-size: 3vw;
  }


  #prayer {
    height: 70vw;
    margin-top: 5vw;
    padding: 10vw 0 0 0;
  }

  #prayer h1 {
    font-size: 4vw;
  }

  #prayer li {
    font-size: 3vw;
    margin-bottom: 2vw;
  }

  #outer {
    overflow-x: hidden;
    width: 105vw;
    height: 70vw;
    margin: 5vw 0 0 -20vw;
  }

  .scrollButton {
    visibility: visible;
    position: absolute;
    outline: none;
    border: none;
    height: 65vw;
    width: 30vw;
    z-index: 1;
    /* top: 90vw; */
  }
  
  .scrollButton_right {
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    padding-right: 18vw;
    left: 0;
  }
  
  .scrollButton_left {
    background: linear-gradient(90deg,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    padding-left: 18vw;
    right: 0;
  }

  #cardContainer {
    position: relative;
    grid-gap: 5.5vw;
    grid-template-columns: 45vw 45vw 45vw;
    width: 134vw;
    height: 50vw;
    margin: 5vw 3vw 0 -2vw;
    padding: 4vw 36vw 2vw 36vw;
    background-color: rgba(180, 180, 180, 0.2);
    user-select: none;
    cursor: grab;
  }
  
  .cardPos0 {
    left: 0vw;
    transition-property: all;
    transition-duration: 0.5s;
  }
  .cardPos1 {
    left: -50vw;
    transition-property: all;
    transition-duration: 0.5s;
  }
  .cardPos2 {
    left: -100vw;
    transition-property: all;
    transition-duration: 0.5s;
  }

  .prayerCard {
    width: 40vw;
    height: 48vw;
    grid-template-rows: 23vw auto;
    background-color: #fff;
    box-shadow: 1vw 1vw 3vw 0 rgba(170, 170, 170, 0.5);
  }

  .prayerCard h2 {
    font-size: 4vw;
    line-height: 6vw;
    margin-top: 5vw;
  }

  .prayerCard:nth-child(3) > h2 {
    margin-top: 2vw;
  }

  #pasterImg {
    float: unset;
  }

  #route {
    height: 60vw;
    width: 90vw;
    margin: 15vw 0 50vw -10vw;
    padding: 10vw 0 0 0;
  }
  
  #route h1 {
    font-size: 4vw;
    margin-bottom: 4vw;
  }

  #route p {
    font-size: 3vw;
    margin-bottom: 10vw;
  }

  .gMap {
    height: 70vw;
    width: 90vw;
  }

  .gMap > button {
    border-radius: 0 0 2vw 2vw;
    box-shadow: 0 1vw 1vw rgb(120, 120, 120, 0.3);
  
    padding: 2vw;
    font-size: 4vw;
  }
  
  .gMap > button:hover {
    border: none;
    background-color: whitesmoke;
  }

  #timetableDiv {
    padding: 7vw 0;
    margin: 7vw 0;
  }

  #timetableDiv h1 {
    font-size: 4vw;
    padding-bottom: 7vw;
  }

  #timetableDiv table, tr, th, td  {
    width: 25vw;
  }

  #timetableDiv table {
    margin: 10vw 0 -2vw 0;
  }

  #timetableDiv tr td {
    margin-bottom: 2vw;
  }

  #timetableDiv tr td:nth-child(1) {
    font-size: 4vw;
    padding-bottom: 2vw;
  }

  #timetableDiv tr td:nth-child(2) {
    font-size: 3vw;
    margin-bottom: 8vw;
  }

  #lastSentence {
    font-size: 3vw;
    line-height: 6vw;
  }

  
}