@media only screen and (max-width : 640px) {
  #imgBoard {
    /* -webkit-mask-image: -webkit-radial-gradient(white, black); */
    
    border-radius: 3vw;
    margin: 5vw 3vw 4vw 3vw;
  }
  #imgOuter {
    height: 50vw;
  }
  #mainImg {
    height: 100%;
  }
  #mainImg img {
    margin: -15vw 0 0 -65vw;
    width: 200vw;
  }
  
  .boardBtn {
    width: 2vw;
  }

  #ytp-Btn {
    width: 25vw;
    height: 25vw;
  }

  #prevPlay h1 {
    font-size: 5vw;
  }

  .closeYoutubeBtn {
    top: -4vw;
    width: 16vw;
  }

  .closeYoutubeBtn .label {
    font-size: 4vw;
  }

  .closeYoutubeBtn .label > img {
    width: 3vw;
    margin-left: 1.5vw;
  }

  #onairInfo {
    width: fit-content;
    border-radius: 5vw;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #fff;
    box-shadow: unset;
    /* box-shadow: inset 1.5vw 1.5vw 2vw 0 rgba(255, 255, 255, 0.8); */
    padding: 17vw 3vw 3vw 3vw;
  }

  #onairInfo h1 {
    font-size: 3.5vw;
  }

}