@media only screen and (max-width : 640px) {

  #videoList {
    grid-column: 1 / 5;
    width: 90vw;
    margin: 23vw 0 0 3.5vw;
  }
  .video {
    position: relative;
    height: 14vw;
    padding: 2.5vw 2vw 0 2vw;
    border-top: 1px solid rgb(210, 210, 210);
  }

  .videoTitle {
    width: 80vw;
  }
  .videoTitle a {
    font-size: 4.5vw;
    font-weight: 700;
  }
  .videoTitle p {
    margin-top: 2vw;
    font-size: 2.5vw;
  }

  .bibleVerse {
    position: absolute;
    bottom: 0;
    right: 10px;
    
    width: 40vw;
    height: 7vw;
    font-size: 4.5vw;
  }
  
  .bibleViewer {
    position: relative;
    top: 4vw;
    right: -13vw;
    
    width: 70vw;
    height: 70vw;
    padding: 4vw 2vw 0 2vw;

    box-shadow: 2vw 2vw 4vw 0 rgb(200, 200, 200);
  }
  .bibleViewer p {
    font-size: 4vw;
    line-height: 6vw;
    width: 70vw;
  }

  .closeVerse {
    background-color: white;
    z-index: 2;
    right: 1vw;
    top: 8vw;
  }
  .closeVerse .label {
    font-size: 4vw;
    float: left;
  }
  


}