@media only screen and (max-width : 640px) {
  #searchDiv {
    width: 35vw;
    border-radius: 2vw;
    padding: 0 1vw;
  }

  #keywordDiv {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    position: relative;
    left: 0;
    margin-right: -20px;
    margin-top: 1vw;
  }

  .keyword {
    width: 65vw;
    border-radius: 2vw;
    border-width: 0.3vw;
    
    padding: 1.5vw 0 1.5vw 4vw;
    margin: 0 0vw 2vw 3vw;
  }
  .keyword p {
    float: left;
    font-size: 3vw;
  }
  .deleteKeyword {
    position: absolute;
    right: 0;
    padding: 1.5vw 5.3vw;
    border-radius: 2vw;
  }
  .deleteKeyword p {
    all: unset;
    float: right;
    font-size: 3vw;
  }

  /* keyword input */
  #inputKeyword {
    margin: 0.7vw 1vw;
    /* height: 5vw; */
    width: 30vw;
    font-size: 3vw;
    opacity: 100;
    border-width: 0.2vw;
  }

  /* keyword Button */
  .keywordBtn {
    border-radius: 2vw;
    border-width: 0.3vw;
    padding: 1vw;
    margin-left: 1vw;
  }
  .keywordBtn p {
    font-size: 3vw;
  }
  #searchIcon {
    margin: 0 1vw;
    width: 2.5vw;
  }

  
}