@media only screen and (max-width : 640px) {

  #videoList {
    grid-column: 1 / 5;
    width: 90vw;
    margin: 23vw 0 0 5vw;
  }
  .video {
    position: relative;
    height: 15vw;
    padding: 5vw 2vw 5vw 2vw;
    border-top: 0.3vw solid rgb(210, 210, 210);
  }

  .videoTitle {
    width: 85vw;
  }
  .videoTitle a {
    font-size: 6vw;
    font-weight: 700;
  }
  .videoTitle p {
    margin: 5vw 1vw;
    font-size: 3vw;
  }

  .bibleVerse {
    position: absolute;
    bottom: 0;
    right: 10px;
    
    width: 40vw;
    height: 10vw;
    font-size: 5vw;
  }
  
  .bibleViewer {
    position: absolute;
    top: 25vw;
    right: 50%;
    transform: translate(50%);
    
    width: 70vw;
    height: 80vw;
    padding: 7vw 2vw 0 2vw;

    box-shadow: 2vw 2vw 4vw 0 rgb(200, 200, 200);
  }
  .bibleViewer p {
    font-size: 4vw;
    line-height: 6vw;
    width: 70vw;
  }

  .closeVerse {
    background-color: white;
    z-index: 2;
    top: 12vw;
    right: 35%;
    transform: translate(50%);
    padding: 2vw;
  }
  .closeVerse .label {
    font-size: 3vw;
    float: left;
  }
  
  #pageOptionDiv {
    width: 100%;
  }


}