@media only screen and (max-width : 640px) {
  #imgOuter {
    height: 50vw;
  }
  #mainImg {
    height: 50vw;
    margin: 0 4.5vw 0 5.5vw;
  }
  #mainImg img {
    margin: -5vw 0 0 -23vw;
    width: 130vw;
  }


  .boardBtn {
    width: 2vw;
  }

  #ytp-Btn {
    width: 20vw;
    height: 20vw;
    top: 18%;
  }

  #prevPlay {
    padding: 3vw 3vw 10vw 3vw;
    border-radius: 5vw;
  }

  #prevPlay h1 {
    font-size: 5vw;
  }

  #onairInfo {
    bottom: 3vw;
    width: 70vw;
  }

  #onairInfo h1 {
    font-size: 4vw;
  }

}