@media only screen and (max-width : 640px) {
  #nav {
    height: 9vw;
    position: fixed;
    top: 0;

    z-index: 4;
    background-color: #fff;
    padding: 4vw 0 3vw 0px;

    transition-property: all;
    transition-duration: 1s;
  }

  #home {
    position: fixed;
    left: 50%;
    transform: translate(-50%);

    font-family: 'MapoFlowerIsland';
    font-weight: 400;
    font-size: 7vw; 

    cursor: pointer;
    margin-left: 0;
  }

  .button {
    display: none;
  }

  #tabListOuter {
    top: 16vw;
    box-shadow: 0 0 1vw 0 rgb(0,0,0, 0.2);
    font-size: 3.5vw;
    width: 100vw;
    height: 14vw;
    padding-left: 66vw;
    user-select: none;
  }

  .tabList {
    left: 0vw;
    transition-property: all;
    transition-duration: 0.2s;
  }

  .tabList0 {
    left: 0vw;
    transition-property: all;
    transition-duration: 0.2s;
  }
  .tabList1 {
    left: -17vw;
    transition-property: all;
    transition-duration: 0.2s;
  }
  .tabList2 {
    left: -34vw;
    transition-property: all;
    transition-duration: 0.2s;
  }
  .tabList3 {
    left: -51vw;
    transition-property: all;
    transition-duration: 0.2s;
  }
  .tabList4 {
    left: -68vw;
    transition-property: all;
    transition-duration: 0.2s;
  }
  
  #videoTabList {
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
  }
  #comTabList {
    position: relative;
    display: grid;
    grid-template-columns: auto;
  }

  .navTabButton {
    all: unset;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 4;
    height: 100%;
    width: 20vw;
    color: #000;
    font-size: 5vw;
  }

  .buttonLeft {
    background: linear-gradient(270deg,  rgb(250, 250, 250, 0) 0%, rgb(250, 250, 250, 0.9) 60%,rgb(250, 250, 250, 1) 100%);
    padding-left: 5vw;
    text-align: left;
    left: 34vw;
  }
  .buttonRight {
    background: linear-gradient(90deg,  rgb(250, 250, 250, 0) 0%, rgb(250, 250, 250, 0.9) 60%, rgb(250, 250, 250, 1) 100%);
    padding-right: 5vw;
    text-align: right;
    right: 32vw;
  }

  .tab {
    width: 20vw;
    padding-top: 5vw;
    margin-right: -4vw;
    cursor: pointer;    
  }
  .tab:hover {
    border-bottom: unset;
  }
  .selectedTab {
    user-select: none;
    background-color: rgb(90, 90, 90);
    color: #fff;
    
    height: 7vw;
    padding: 2vw 1vw 0 1vw;
    margin: 3.5vw 3vw 0 7vw;
    border-radius: 2vw 2vw 0 0;
    font-size: 4vw;

    transform: scale(1.5);
  }

  #drawerMenuBtn {
    padding: 0;
    margin: 0;

    position: fixed;
    right: 5vw;
    top: 3vw;
    z-index: 6;

    padding: 2vw 2vw 1vw 2vw;
    border-radius: 5vw;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #fff;
  }
  
  .menuBtnIcon {
    position: relative;
    margin: 0;
    padding: 0;
    height: 1vw;
    width: 5vw;
    margin-bottom: 1vw;
    border-radius: 0.5vw;
    background-color: rgb(105, 105, 105);

    transition-property: all;
    transition-duration: 0.2s;
  }

  .icon_top {
    transform: translateY(2vw);

    transition-property: all;
    transition-duration: 0.2s;
  }
  .icon_mid {
    opacity: 0;
    transition-property: all;
    transition-duration: 0s;
  }
  .icon_bot {
    transform: translateY(-2vw);

    transition-property: all;
    transition-duration: 0.2s;
  }
  .closedIcon_top {
    transform: translateY(2vw) rotate(45deg);

    transition-property: all;
    transition-duration: 0.2s;
  }

  .closedIcon_bot {
    transform: translateY(-2vw) rotate(-45deg);

    transition-property: all;
    transition-duration: 0.2s;
  }
  
  #drawerMenu {
    display: block;
    position: fixed;
    right: 0%;
    top: 18vw;
    z-index: 5;
  
    width: 60vw;
    height: 70vw;
    border-radius: 10vw 0 0 10vw;
  
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.637);
    /* box-shadow: -3vw 3vw 20vw 0 rgb(0,0,0, 0.2); */

    padding: 20vw 5vw;
    display: grid;
    grid-template-rows: 15vw 15vw 15vw;
    grid-gap: 10vw;

    text-align: center;
    font-size: 9vw;

    transition-property: margin, box-shadow;
    transition-duration: 0.3s;
  }
  .drawerMenuOpen {
    margin: 0 -80vw 0 0;
    /* box-shadow: unset !important; */
  }

  #drawerMenu h4 {
    all: unset;
    font-size: 5vw;
  }

  .menuBtn {
    padding: 4vw;

    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);

    background-color: #fff;
    border-radius: 3vw;
    /* box-shadow: 1vw 3vw 5vw 0 rgb(0,0,0, 0.1); */
    
    font-family: 'NanumBarunGothic';
    font-weight: 400;
    font-size: 6vw;

    transition: right 0.3s;
  }

  

}