@media only screen and (max-width : 640px) {
  #timeCardContainer {
    padding: 5vw 0;
  }

  #timeCardContainer h1 {
    padding-bottom: 7vw;
    font-size: 5vw;
  }

  .timeCardDiv {
    grid-gap: 4vw;
  }

  .timeCard {
    border-radius: 5vw;
    height: 20vw;
  }

  .timeCard h2 {
    font-size: 4.5vw;
    padding-top: 4vw;
  }

  .timeCard span {
    font-size: 3.5vw;
    padding-top: 2vw;
  }

}