#imgBoard {
  position: relative;
  height: 50vw;
  margin: 0vw 3vw 4vw 3vw;
  overflow: hidden;
}

#imgOuter {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  width: 200vw;
  height: 30vw;
}

.img0 {
  left: 0vw;
  transition-property: all;
  transition-duration: 1s;
}
.img1 {
  left: -90vw;
  transition-property: all;
  transition-duration: 1s;
}

#mainImg {
  position: relative;
  float: left;
  height: 30vw;
  width: 80vw;
  margin: 0 3.5vw 0 6.5vw;

  overflow: hidden;
  box-shadow: 1vw 1vw 3vw 0 rgb(180, 180, 180);
}

#mainImg img {
  margin: -6vw 0 0 -3.8vw;
  width: 100vw;
}

#btnOuter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: grab;
}

.boardBtn {
  all: unset;
  position: absolute;
  top: 0;

  width: 7vw;
  height: 100%;

  text-align: center;
}
.boardLeft {
  left: 0;
}
.boardRight {
  right: 0;
}

