#imgBoard {
  position: relative;
  height: 40vw;
  /* width: 100vw; */
  margin: 3vw 3vw 10vw 3vw;
  overflow: hidden;
}

#imgOuter {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  width: 100%;
  height: 30vw;
  overflow: hidden;
  border-radius: 1vw;
}

#mainImg {
  position: absolute;
  /* float: left; */
  height: 30vw;
  width: 100%;

  overflow: hidden;
  /* box-shadow: 1vw 1vw 3vw 0 rgb(180, 180, 180); */
}

#main-thumbnail {
  position: absolute;
  margin: -12vw 0 0 -30vw;
  width: 130vw;
  filter: contrast(120%);
} 

#ytp-thumbnail {
  position: absolute;
  height: 60vw;
  width: 80vw;
  /* padding: 0 5vw; */
  background-color: #000;
  margin: -8vw 0 0 0;
  /* left: 50%; */
}


#btnOuter {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  width: 100%;
  height: 30vw;
}

#onairInfo {
  position: absolute;
  z-index: 1;
  text-align: center;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 4vw;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: inset 0.5vw 0.5vw 1vw 0 rgba(255, 255, 255, 0.8);
  padding: 10vw 3vw 2vw 3vw;
}

#onairInfo h1 {
  font-family: 'NanumBarunGothic';
  font-weight: 700;
  font-size: 2vw;
  color: rgb(49, 49, 49);
}

#prevPlay {
  position: absolute;
  z-index: 1;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  color: #fff;
  border-radius: 3vw;
  padding: -1vw;

  /* backdrop-filter: blur(2px);
  background-color: rgba(255, 92, 92, 0.8);
  box-shadow: inset 0.4vw 0.4vw 0.5vw 0 rgba(255, 255, 255, 0.8),
              inset -0.4vw -0.4vw 1vw 0 rgba(255, 255, 255, 0.5); */
}

/* #prevPlay:hover {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: unset
}

#prevPlay:hover #ytp-Btn {
  fill: #fff;
} */

#prevPlay h1 {
  font-family: 'NanumBarunGothic';
  font-weight: 400;
  font-size: 2.5vw;
}

#onairIcon {
  position: relative;
  z-index: 1;
  color: #fff;
  border: 0.5vw solid #fff;
  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 0.5s;
}

#onairIcon:hover {
  background-color: rgb(255, 113, 113);
  transition-property: background-color;
  transition-duration: 0.5s;
}

#onairIcon h1 {
  font-family: 'NanumBarunGothic';
  font-weight: 400;
  font-size: 2vw;
}

#ytp-Btn {
  position: relative;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%); */
  width: 15vw;
  height: 15vw;

  z-index: 1;
  transition-property: opacity;
  transition-duration: 0.5s;
  cursor: pointer;

  fill: rgb(90, 90, 90);
}

#ytp-Btn-Bg {
  fill: #000;
  opacity: 50%;
  background-color: #000;
}

#ytp-Btn:hover > #ytp-Btn-Bg {
  fill: #f00;
  opacity: 100%;
  transition-property: opacity;
  transition-duration: 0.2s;
}
#ytp-Btn:active > #ytp-Btn-Bg {
  opacity: 100%;
  transition-property: opacity;
  transition-duration: 0.2s;
}

.closeYoutubeBtn {
  position: relative;
  left: 50%;
  top: -15vw;
  width: 7vw;
  transform: translate(-50%);
  background-color: rgb(108, 108, 108);
  border: none;
  border-radius: 0 0 15px 15px;
  z-index: 1;
}

.closeYoutubeBtn .label {
  color: #fff;
  font-size: 1.5vw;
}

.closeYoutubeBtn .label > img {
  filter: invert(100%);
  min-width: 1vw;
  margin-left: 1vw;
}

.boardBtn {
  all: unset;
  position: absolute;
  top: 0;

  width: 7vw;
  height: 100%;

  text-align: center;
  cursor: pointer;
  z-index: 2;

}
.boardLeft {
  left: 0;
}
.boardRight {
  right: 0;
}

