#imgBoard {
  position: relative;
  height: 50vw;
  margin: 0vw 3vw 4vw 3vw;
  overflow: hidden;
}

#imgOuter {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  width: 200vw;
  height: 30vw;
}

.img0 {
  left: 0vw;
  transition-property: all;
  transition-duration: 1s;
}
.img1 {
  left: -90vw;
  transition-property: all;
  transition-duration: 1s;
}

#mainImg {
  position: relative;
  float: left;
  height: 30vw;
  width: 80vw;
  margin: 0 3.5vw 0 6.5vw;

  overflow: hidden;
  box-shadow: 1vw 1vw 3vw 0 rgb(180, 180, 180);

}

#main-thumbnail {
  margin: -6vw 0 0 -3.8vw;
  width: 100vw;
} 

#ytp-thumbnail {
  position: absolute;
  height: 60vw;
  width: 80vw;
  /* padding: 0 5vw; */
  background-color: #000;
  margin: -8vw 0 0 0;
  /* left: 50%; */
}


#btnOuter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#ytp-Btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8vw;
  height: 8vw;

  z-index: 2;
  transition-property: opacity;
  transition-duration: 0.5s;
  cursor: pointer;

}

#ytp-Btn-Bg {
  fill: #000;

  opacity: 50%;
  background-color: #000;
}

#ytp-Btn:hover > #ytp-Btn-Bg{
  fill: #f00;
  opacity: 100%;
  transition-property: opacity;
  transition-duration: 0.2s;
}
#ytp-Btn:active > #ytp-Btn-Bg{
  opacity: 100%;
  transition-property: opacity;
  transition-duration: 0.2s;
}


.boardBtn {
  all: unset;
  position: absolute;
  top: 0;

  width: 7vw;
  height: 100%;

  text-align: center;
  cursor: pointer;
  z-index: 2;

}
.boardLeft {
  left: 0;
}
.boardRight {
  right: 0;
}

