 .nanumbarungothic * {
  font-family: 'NanumBarunGothic', sans-serif;
 }

#main {
  font-family: 'NanumBarunGothic';
  font-weight: 300;
  width: 70vw;
  /* position: relative;
  left: 50%;
  transform: translate(-50%, 0); */
}

#firstPage {
  grid-row: 1;
  grid-column: 1/6; 
}

/* greeting */
#greeting {
  background-color: #fff;
  box-shadow: 5vw 3vw 15vw 0 rgba(255, 187, 29, 1);
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-top: 12vw;
  padding-top: 7vw;
  height: 23vw;
  width: 30vw;
  text-align: center;
  border-radius: 20vw;

  transition: box-shadow 5s ease;
  color: rgb(112, 112, 112);
}

.shadowEffect {
  box-shadow: -10vw -3vw 25vw 0 rgb(255, 189, 35) !important;
  transition: box-shadow 5s ease;
}


.landingEffect {
  opacity: 0;

  transition-property: all;
  transition-duration: 3s;
}


#greeting h1 {
  all: unset;
  font-family: 'MapoGoldenPier';
  font-weight: 500;
  font-size: 2vw;
}

#greeting h1:nth-child(1) {
  font-size: 4vw;
}

#greeting p {
  font-family: 'MapoFlowerIsland';
  font-size: 1.2vw;
}


/* prayer */
#prayer {
  height: 40vw;
  border-top: 1px solid rgb(220, 220, 220);
  padding-top: 4vw;
  margin-top: -10vw;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
  color: rgb(120, 120, 120);
  font-weight: 400;

}

#prayer h1 {
  all: unset;
  font-size: 2.5vw;
  font-weight: 700;
}

#prayer ul {
  all: unset;
}

#prayer li {
  all: unset;
  display: block;
  margin-bottom: 1vw;
  font-size: 1vw;
}

.scrollButton {
  visibility: hidden;
}

#outer {
  position: absolute;
  left: 0;
  width: 100vw;
  margin-top: 4vw;
  padding-bottom: 2vw;
  background: linear-gradient(90deg,
   rgba(255,255,255,1) 0%,  
   rgb(255, 224, 151) 15%, 
   rgb(255, 224, 151) 85%, 
   rgba(255,255,255,1) 100%
  );
}

#cardContainer {
  position: relative;
  right: -50%;
  transform: translate(-50%);

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3vw;
  width: 70vw
}

.prayerCard {
  display: grid;
  grid-template-rows: 13vw auto;
  height: 25vw;
  box-shadow: 1vw 1vw 3vw 0 rgba(0, 0, 0, 0.101);
  border-radius: 2vw;
  background-color: #fff;
}

/* 
.prayerCard:nth-child(1) {
  box-shadow: 4vw 2vw 10vw rgb(255, 207, 94);
}
.prayerCard:nth-child(2) {
  box-shadow: 4vw 2vw 10vw rgb(248, 175, 72);
}
.prayerCard:nth-child(3) {
  box-shadow: 4vw 2vw 10vw rgb(255, 128, 64);
} */

.prayerCard h2 {
  font-family: 'MapoGoldenPier';
  font-size: 1.5vw;
  font-weight: 700;
  line-height: 2.5vw;
  margin-top: 4.5vw;
}

.prayerCard:nth-child(3) > h2 {
  margin-top: 3vw;
}
          
/* paster */
#paster {
  text-align: center;
  color: rgb(120, 120, 120);
  padding: 6vw 3vw 0 0;
}
#paster h1 {
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 700;
  font-size: 2.5vw;
}
#paster h2 {
  font-weight: 400;
  font-size: 2vw;
}
#pasterImg {
  position: relative;
  float: left;
  margin: 0 2vw 0 3vw;
}
#pasterImg img {
  width: 15vw;
}

#paster p {
  text-align: left;
  line-height: 3vw;
  font-size: 1.5vw;
}



.gm-style-mtc,
.gm-svpc
{
  visibility: hidden;
}

/* style={{height: '40vw', marginTop: '30vw'}} */
#route {
  height: 30vw;
  width: 95vw;
  margin: 5vw 0 20vw -12.5vw;
  padding-top: 10vw;
  border-top: 1px solid rgb(220, 220, 220);
  text-align: center;
}

#route h1 {
  color: rgb(120, 120, 120);
  font-size: 2.5vw;
  font-weight: 700;
}

#route p {
  font-size: 1vw;
  margin-bottom: 6vw;
}

.gMap {
  position: relative;
  height: 30vw;
  width: 95vw;
  border-radius: 1vw;
  overflow: hidden;
}

.gMap > button {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;

  outline: none;
  border: none;
  border-radius: 0 0 1vw 1vw;
  background-color: #fff;
  box-shadow: 0 0.2vw 0.2vw rgb(120, 120, 120, 0.3);


  padding: 1vw;
  font-size: 1.5vw;
  font-family: 'MapoGoldenPier';
  cursor: pointer;
}

.gMap > button:hover {
  border: none;
  background-color: whitesmoke;
}

.gm-style > div:nth-child(1) > div:nth-child(1) > div:nth-child(5) {
  /* filter: grayscale(100%) */
}

#lastSentence {
  font-size: 1.5vw;
  text-align: center;
  font-family: 'MapoGoldenPier';
  line-height: 3vw;
}

