
 
 .nanumbarungothic * {
  font-family: 'NanumBarunGothic', sans-serif;
 }

#main {
  font-family: 'NanumBarunGothic';
  font-weight: 300;
  width: 70vw;
  /* position: relative;
  left: 50%;
  transform: translate(-50%, 0); */
}

#mainImg {
  /* position: absolute; */
  grid-row: 1;
  grid-column: 1/6;  
  height: 30vw;
  overflow: hidden;
  margin: 10vw 3vw 4vw 3vw;
  box-shadow: 1vw 1vw 3vw 0 rgb(180, 180, 180);
}
#mainImg img {
  margin: -6vw 0 0 -3.8vw;
  width: 100vw;
}

/* prayer */
#prayer {
  height: 40vw;
  border-top: 1px solid rgb(220, 220, 220);
  padding: 10vw 0 0 0;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
  color: rgb(120, 120, 120);
  font-weight: 400;
}

#prayer h1 {
  all: unset;
  font-size: 2.5vw;
  font-weight: 700;
}

#prayer ul {
  all: unset;
}

#prayer li {
  all: unset;
  display: block;
  margin-bottom: 1vw;
  font-size: 1vw;
}

.scrollButton {
  visibility: hidden;
}

#cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3vw;
  margin: 7vw 3vw 0 3vw;
}

.prayerCard {
  display: grid;
  grid-template-rows: 13vw auto;
  height: 25vw;
  box-shadow: 1vw 1vw 3vw 0 rgb(240, 240, 240);
}

.prayerCard h2 {
  font-family: 'MapoGoldenPier';
  font-size: 1.5vw;
  font-weight: 600;
  line-height: 2.5vw;
  margin-top: 4.5vw;
}

.prayerCard:nth-child(3) > h2 {
  margin-top: 3vw;
}
          
/* paster */
#paster {
  text-align: center;
  color: rgb(120, 120, 120);
  padding: 6vw 3vw 0 0;
}
#paster h1 {
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 700;
  font-size: 2.5vw;
}
#paster h2 {
  font-weight: 400;
  font-size: 2vw;
}
#pasterImg {
  position: relative;
  float: left;
  margin: 0 2vw 0 3vw;
}
#pasterImg img {
  width: 15vw;
}

#paster p {
  text-align: left;
  line-height: 3vw;
  font-size: 1.5vw;
}

.gMap {
  height: 50vw;
  width: 90vw;
}
/* 
.gmnoprint {
  visibility: hidden;
} */

/* style={{height: '40vw', marginTop: '30vw'}} */
#route {
  height: 50vw;
  width: 90vw;
  margin: 15vw 0 0 -10vw;
  padding-top: 8vw;
  border-top: 1px solid rgb(220, 220, 220);
  text-align: center;
}

#route h1 {
  color: rgb(120, 120, 120);
  font-size: 5vw;
  font-weight: 700;
  margin-bottom: 3vw;
}